body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-content: center;

}
#piano{
    height: 290px;
    padding: 90px 30px 0 30px;
    background-color: #fc8989;
    border-radius: 10px;
    
}